# ce hoces da so na voljo v templejtu, se morajo zaceti z VUE_APP
VUE_APP_TITLE='COVID-19 Sledilnik'
VUE_APP_DESC='COVID-19 Sledilnik Slovenija - zbrani, preverjeni, ažurirani, analizirani in pregledni podatki o epidemiji COVID-19 v Sloveniji. | COVID-19 Slovenia Tracking - collected, verified, updated, analyzed and reviewed COVID-19 data for Slovenia'
VUE_APP_URL='https://covid-19.sledilnik.org'
VUE_APP_DEFAULT_LANGUAGE='sl'
VUE_APP_LOCALE_CONTEXT='SVN'
VUE_APP_API_ENDPOINT_BASE=https://api.sledilnik.org #Data endpoint
VUE_APP_CONTENT_ENDPOINT_BASE=http://127.0.0.1:8000/api/v1 #Django endpoint