<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="shortcut icon" href="<%= BASE_URL %>favicon.ico">
  <title><%= VUE_APP_TITLE %></title>
  <meta data-vmid="description" name="description" content="<%= VUE_APP_DESC %>" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@sledilnik" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= BASE_URL %>" />
  <meta data-vmid="og:title" property="og:title" content="<%= VUE_APP_TITLE %>" />
  <meta data-vmid="og:description" property="og:description" content="<%= VUE_APP_DESC %>" />
  <meta data-vmid="og:image" property="og:image" content="<%= BASE_URL %>covid-19-logo.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="<%= BASE_URL %>apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="192x192" href="<%= BASE_URL %>images/add-to-home-192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= BASE_URL %>images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= BASE_URL %>images/favicon-16x16.png">
  <link rel="manifest" href="<%= BASE_URL %>images/site.webmanifest">
  <meta name="theme-color" content="#ffd922">
  <meta name="msapplication-TileColor" content="#ffd922">
  <meta name="msapplication-config" content="<%= BASE_URL %>images/browserconfig.xml">
  <script src="https://polyfill.io/v3/polyfill.min.js?features=Intl.NumberFormat.~locale.sl%2CIntl.NumberFormat.~locale.hr%2CIntl.NumberFormat.~locale.en%2CIntl.NumberFormat.~locale.it%2CIntl.NumberFormat.~locale.de%2CIntersectionObserver"></script>
</head>

<body>
  <%= htmlWebpackPlugin.options.embed %>
  <noscript>
    <strong>We're sorry but page doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <div id="app"></div>
</body>

</html>
