@import './main.scss';

$navHeight: 76px;

// Specific styles for main page goes here
#app {
  padding-top: $navHeight;
  > main {
    // need to interpolate in calc()
    height: calc(100vh - #{$navHeight});
  }
} 