@import './main.scss';

$navHeight: 77px;
$footerHeight: 66px;
// Specific styles for main page goes here
#app {
  padding-top: $navHeight;
  > main {
    padding-top: 48px;
    // need to interpolate in calc()
    min-height: calc(100vh - #{$navHeight} - #{$footerHeight});
  }
  @media all and (max-width: 500px) {
    padding-top: 24px;
  }
}

@import 'visualizations.sass'
