// rest of SASS
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap-vue/src/index.scss";
@import "typography.sass";

// common styles form main page (index) and embedded version (embed)

html,
body {
  height: 100%;
  background: $background;
  min-height: 100vh;
}

*::selection {
  background: $yellow;
}

.button-yellow {
  background-color: $yellow;
  color: #000000;
}

.table-yellow {
  background-color: $yellow;
}

.table-grey {
  background-color: #dee2e6;
}

.thead-yellow {
  th {
    background-color: $yellow;
  }
}

.tooltip {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 12px;
  .arrow:before {
    border-top-color: #2a2a2a;
  }
  .tooltip-inner {
    background-color: #2a2a2a;
  }
}
.notice {
  p {
    margin-bottom: 0;
  }
}
