@import "node_modules/bootstrap/scss/functions";

// customize bootstrap vars here
@import "./variables.scss";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap-vue/src/index.scss";

// rest of SASS

html,
body,
#app {
  height: 100%;
}

// ce spreminjas visino navbara
body {
  margin-top: 76px;
  background-color: #f5f5f0;
}

.button-yellow {
  background-color: $yellow;
  color: #000000;
}
.table-yellow {
  background-color: $yellow;
}
.table-grey {
  background-color: #dee2e6;
}
.thead-yellow {
  th {
    background-color: $yellow;
  }
}
