// Tukaj, pred importom, lahko spremenimo bootstrap spremenljivke.

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600,700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,600&display=swap&subset=latin-ext');

$font-family-sans-serif: 'IBM Plex Sans', sans-serif;
// font-family: 'IBM Plex Mono', monospace;
$yellow: #ffd922;
$background: #f5f5f0;
// $primary: #ffd922;
// $secondary: #000000;
// $success: #000000;
// $info: #000000;
// $warning: #000000;
// $danger: #000000;
// $light: #000000;
// $dark: #000000;
// box-shadow: 0 22px 38px -10px rgba(0,0,0,0.30),
//      0 18px 12px -10px rgba(0,0,0,0.22)
// box-shadow: 0 6px 38px -18px rgba(0, 0, 0, 0.3),
//  0 11px 12px -12px rgba(0, 0, 0, 0.22);
