// Tukaj, pred importom, lahko spremenimo bootstrap spremenljivke.

$font-family-sans-serif: 'IBM Plex Sans', sans-serif;
$yellow: #ffd922;
$background: #f5f5f0;
$text-c: rgba(0, 0, 0, 0.7);
$text-unselected: rgba(0, 0, 0, 0.56);
