// Tukaj, pred importom, lahko spremenimo bootstrap spremenljivke.

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

$font-family-sans-serif: 'IBM Plex Sans', sans-serif;

$yellow: #ffd922;
// $primary: #ffd922;
// $secondary: #000000;
// $success: #000000;
// $info: #000000;
// $warning: #000000;
// $danger: #000000;
// $light: #000000;
// $dark: #000000;