// Tukaj, pred importom, lahko spremenimo bootstrap spremenljivke.

$font-family-sans-serif: 'IBM Plex Sans', sans-serif;
$yellow: #ffd922;
$background: #f5f5f0;
$text-c: rgba(0, 0, 0, 0.7);
$element-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
