name: PR Cleanup

on:
  pull_request:
    types: [closed, unlabeled]

env:
  DEPLOY_NAMESPACE: sledilnik-pr
  RELEASE_NAME: website-pr-${{ github.event.pull_request.number }}
  DEPLOY_ENV: pr-${{ github.event.pull_request.number }}

jobs:
  check:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Check if PR is labeled
        id: label
        run: echo ::set-output name=has_label::${{ contains(github.event.pull_request.labels.*.name, 'deploy-preview') }}

      - name: Check if PR is deployed
        id: http
        run: echo ::set-output name=status_code::$(curl -o /dev/null -s -k -w "%{http_code}\n" https://pr-${{ github.event.pull_request.number }}.preview.sledilnik.org)
    outputs:
      status_code: ${{ steps.http.outputs.status_code }}
      has_label: ${{ steps.label.outputs.has_label }}

  undeploy:
    runs-on: ubuntu-20.04
    needs: [check]
    if: "needs.check.status_code != '404' && (github.event.action == 'closed' || !needs.check.has_label)"
    steps:
      - name: Debug
        uses: hmarr/debug-action@v1.0.0

      - name: Checkout repo
        uses: actions/checkout@v2
      
      - name: Undeploy
        uses: sledilnik/action-helm-deploy@v1.0.1
        with:
          action: undeploy
          chartName: sledilnik/website
          chartVersion: '0.9.0'
          kubeconfig: '${{ secrets.KUBECONFIG }}'